<nav class="nav">
  <h1><a routerLink="/">e-commerce</a></h1>
  <div *ngIf="menuType === 'default'" class="nav-search">
    <input
      type="text"
      placeholder="search for products"
      class="nav-search-input"
    />
    <button>search</button>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/seller-auth">Seller</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Cart(0)</a></li>
    </ul>

    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="/seller-auth">add product</a></li>
      <li><a routerLink="">List</a></li>
      <li><a (click)="logOut()">LogOut</a></li>
      <li><a href="#">seller name</a></li>
    </ul>
  </div>
</nav>
